.legend {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;

    background: white;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.legend table {
    border-collapse: collapse;
}

.legend th,
.legend td {
    padding: 4px 6px;
    text-align: center;
}

.legend th:first-child {
    text-align: left;
    padding-right: 12px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}